/* styles.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
/* <style> */
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Dosis:wght@500&family=Monoton&family=Roboto+Condensed:wght@700&family=Source+Code+Pro:wght@300&display=swap');
/* </style> */
/* @import url('https://fonts.google.com/specimen/Monoton/about?preview.text=Culturalia&preview.text_type=custom'); */
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {    
  background: rgb(195,147,192);
  background: radial-gradient(circle, rgba(195,147,192,1) 0%, rgba(80,136,166,1) 100%);
  }
      
  /* background-image: url("https://trianglify.io/p/w:1440!h:900!x:YlOrBr!v:0.697!c:0.175!s:oq9y0r!f:sp!i:0.30");
} */

/* background-image: linear-gradient(to bottom,
      rgba(255, 255, 0, 0.5),
      rgba(0, 0, 255, 0.5)), 
      url("https://trianglify.io/p/w:1440!h:900!x:YlOrBr!v:0.697!c:0.175!s:oq9y0r!f:sp!i:0.30");

/* Valores globales */
/* background-image: inherit;
background-image: initial;
background-image: revert;
background-image: revert-layer;
background-image: unset; */ */
/* background-image: url("https://trianglify.io/p/w:1440!h:900!x:YlOrBr!v:0.697!c:0.175!s:oq9y0r!f:sp!i:0.30"); */
/* src="C:\Users\57301\OneDrive\Escritorio\Culturalia-1\public\trianglify-lowres.png"; */


/* .card {
background: rgb(195,199,205);
background: linear-gradient(22deg, rgba(195,199,205,0.28895308123249297) 12%, rgba(29,27,29,0.9108018207282913) 61%);
color: white;
box-shadow: 10px 10px 6px 0px rgba(255, 255, 255, 0.22);
} */


.card {
    background: rgb(195,199,205);
    background: linear-gradient(22deg, rgba(195,199,205,0.28895308123249297) 12%, rgba(29,27,29,0.9108018207282913) 61%);
    color: white;
    box-shadow: 10px 10px 6px 0px rgba(255, 255, 255, 0.22);
}

.avatar {
    width: 80px;
    height: 80px;
}

.button {
    background-color: #2563eb;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #1d4ed8;
  }
  
/* .logo{
    font-family:;
  } */


  